/* ******************************************************** */
/*						RESET VALUES						*/
/* ******************************************************** */
* {
	margin: 0px;
	padding: 0px;
}

/* ******************************************************** */
/*						TAG SELECTORS						*/
/* ******************************************************** */
header {
	background-color: lightblue;
	text-align: center;
}
h1 {
	margin: 10px;
	margin-top: 0px;
	padding: 10px 0px 10px 10px;
	border: 1px;
}
p {
	margin: 10px 30px;
	padding: 10px 0px 10px 0px;
}

/* ******************************************************** */
/*						CLASS SELECTORS						*/
/* ******************************************************** */
.cloud1 {
	margin-top: 50px;
	position: relative;
	top: ;
	right: ;
	bottom: ;
	left: 225px;
}
.cloud2 {
	position: absolute;
}
.mountain {
	position: relative;
	bottom: -4px;
}

/* ******************************************************** */
/*						ID SELECTORS	 					*/
/* ******************************************************** */
