/* ******************************************************** */
/*						RESET VALUES						*/
/* ******************************************************** */
* {
	margin: 0px;
	padding: 0px;
}

/* ******************************************************** */
/*						TAG SELECTORS						*/
/* ******************************************************** */
header {
	background-color: lightblue;
	position: relative;
	height: 500px;
	padding-top: 10px;
}
h1 {
	text-align: center;
	margin: 10px;
	margin-top: 0px;
	padding: 10px 0px 10px 10px;
	border: 1px;
}
p {
	text-align: center;
	margin: 10px 30px;
	padding: 10px 0px 10px 0px;
}

/* ******************************************************** */
/*						CLASS SELECTORS						*/
/* ******************************************************** */
.cloud1 {
	position: absolute;
	top: 285px;
	/*right: ;*/
	/*bottom: ;*/
	left: 25%;
	z-index: 2;
}
.cloud2 {
	position: absolute;
	top: 210px;
	/*right: ;*/
	bottom: ;
	left: 35%;
}
.cloud3 {
	position: absolute;
	top: 325PX;
	/*right: ;*/
	/*bottom: ;*/
	left: 43%;
	z-index: 2;
}
.mountain {
	position: absolute;
	/*top: ;*/
	/*right: ;*/
	bottom: 0px;
	left: 350px;
	z-index: 1;
}

/* ******************************************************** */
/*						ID SELECTORS	 					*/
/* ******************************************************** */
